<html>
<head>
	{#<link rel="stylesheet" href="http://127.0.0.1/symfony-formbuilder/web/bundles/shyform/css/app.css"/>#}
	{#<script src="{{ asset('bundles/shyform/js/angular.min.js') }}" />#}


	{#<link rel="stylesheet" href="http://127.0.0.1/symfony-formbuilder/web/bundles/shyform/css/bootstrap_form.css"/>#}

</head>
<body>
	{% block content %}{% endblock %}
	{#{% verbatim %}
		<ul>
		{% for item in seq %}
			<li>{{ item }}</li>
		{% endfor %}
		</ul>
	{% endverbatim %}#}
</body>
</html>